<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
table {
  border-collapse: collapse; border: 1px solid black;
}
td,th {
  border-collapse: collapse; border: 1px solid black; padding: 0.5em;
}
</style>
</head>
<body>
    <pre>{{ DESCRIPTION }}</pre>
    <hr>
    <form action="/calc" method="post">
        <input type="text" name="operation" />
        <input type="submit" value="Посчитать" />
    </form>
    <hr>
</body>
    <form action="/cleanup" method="post">
        <input type="submit" value="Очистить базу">
    </form>
</html>
